footer
  .footer-main
    .container
      .row
        .col-lg-4.col-md-12.col-sm-12
          .footer-top-box
            h3 Business Time
            ul.list-time
              li Monday - Friday: 08.00am to 05.00pm
              li Saturday: 10.00am to 08.00pm
              li
                | Sunday: 
                span Closed
        .col-lg-4.col-md-12.col-sm-12
          .footer-top-box
            h3 Newsletter
            form.newsletter-box
              .form-group
                input(type='email' name='Email' placeholder='Email Address*')
                i.fa.fa-envelope
              button.btn.hvr-hover(type='submit') Submit
        .col-lg-4.col-md-12.col-sm-12
          .footer-top-box
            h3 Social Media
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            ul
              li
                a(href='#')
                  i.fab.fa-facebook(aria-hidden='true')
              li
                a(href='#')
                  i.fab.fa-twitter(aria-hidden='true')
              li
                a(href='#')
                  i.fab.fa-linkedin(aria-hidden='true')
              li
                a(href='#')
                  i.fab.fa-google-plus(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-rss(aria-hidden='true')
              li
                a(href='#')
                  i.fab.fa-pinterest-p(aria-hidden='true')
              li
                a(href='#')
                  i.fab.fa-whatsapp(aria-hidden='true')
      hr
      .row
        .col-lg-4.col-md-12.col-sm-12
          .footer-widget
            h4 About Freshshop
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-12.col-sm-12
          .footer-link
            h4 Information
            ul
              li
                a(href='#') About Us
              li
                a(href='#') Customer Service
              li
                a(href='#') Our Sitemap
              li
                a(href='#') Terms &amp; Conditions
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Delivery Information
        .col-lg-4.col-md-12.col-sm-12
          .footer-link-contact
            h4 Contact Us
            ul
              li
                p
                  i.fas.fa-map-marker-alt
                  | Address: Michael I. Days 3756 
                  br
                  | Preston Street Wichita,
                  br
                  |  KS 67213
              li
                p
                  i.fas.fa-phone-square
                  | Phone: 
                  a(href='tel:+1-888705770') +1-888 705 770
              li
                p
                  i.fas.fa-envelope
                  | Email: 
                  a(href='mailto:contactinfo@gmail.com') contactinfo@gmail.com
 
  .footer-copyright
    p.footer-company
      | All Rights Reserved. &copy; 2018 
      a(href='#') ThewayShop
      |  Design By :
      a(href='https://html.design/') html design
  // End copyright
  a#back-to-top(href='#' title='Back to top' style='display: none;') &uarr;
  
