extends base

block content 
    .about-box-main
        .container
            .row
                .col-lg-6
                    .banner-frame
                        img.img-fluid(src='images/about-img.jpg' alt='')
                .col-lg-6
                    h2.noo-sh-title-top
                        | We are 
                        span E- Farmers
                    p
                    | &quot;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    | voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    | sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                    | Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           
        // End About Page
        // Start Instagram Feed
        .instagram-box
            .main-instagram.owl-carousel.owl-theme
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-01.jpg' alt='')
                       
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-02.jpg' alt='')
                       
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-03.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-04.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-05.jpg' alt='')
                       
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-06.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-07.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-08.jpg' alt='')
                        
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-09.jpg' alt='')
                       
                .item
                    .ins-inner-box
                        img(src='images/instagram-img-05.jpg' alt='')
                        
