extends base


block content
  .my-account-box-main
  .container
    .col-md-12
      h1.m-b-20
        strong
          | Hello , 
          strong= user.name
    .my-account-page
      .row 
        .col-lg-4.col-md-12
          .account-box
            .service-box
              .service-icon
                a(href='#')
                  i.fa.fa-gift
              .service-desc
                h4 Your Orders
                p Track, return, or buy things again
        .col-lg-4.col-md-12
          .account-box
            .service-box
              .service-icon
                a(href='#')
                  i.fa.fa-lock
              .service-desc
                h4 Login &amp; security
                p Edit login, name, and mobile number
        .col-lg-4.col-md-12
          .account-box
            .service-box
              .service-icon
                a(href='#')
                  i.fa.fa-location-arrow
              .service-desc
                h4 Your Addresses
                p Edit addresses for orders and gifts
      
    